<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>结算页</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-getOrderInfo.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="cart py-container">
    <!--主内容-->
    <div class="checkout py-container">
        <div class="checkout-tit">
            <h4 class="tit-txt">填写并核对订单信息</h4>
        </div>
        <div class="checkout-steps">
            <!--收件人信息-->
            <div class="step-tit">
                <h5>收件人信息<span></span></h5>
            </div>
            <div class="step-cont">
                <div class="addressInfo">
                    <ul class="addr-detail">
                        <li class="addr-item">
                            <div class="choose-address" th:each="addr,index:${addresses}">
                                <div th:class="${addr.isDefault} == '1' ? 'con name selected' : 'con name'"><a href="javascript:;"><em th:text="${addr.contact}"></em><span title="点击取消选择"></span></a></div>
                                <div class="con address">
                                    <span class="place" th:text="${addr.address}"></span>
                                    <span class="phone" th:text="${addr.phone}"></span>
                                    <span class="base" th:unless="${addr.isDefault} == '0'">默认地址</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                    <!--确认地址-->
                </div>
            </div>
            <div class="hr"></div>
            <!--支付和送货-->
            <div class="payshipInfo">
                <div class="step-tit">
                    <h5>支付方式</h5>
                </div>
                <div class="step-cont">
                    <ul class="payType">
                        <li class="selected">在线支付<span title="点击取消选择"></span></li>
                        <li>货到付款<span title="点击取消选择"></span></li>
                    </ul>
                </div>
                <div class="hr"></div>
                <div class="step-tit">
                    <h5>送货清单</h5>
                </div>
                <div class="step-cont">
                    <ul class="send-detail">
                        <li>
                            <div class="sendType">
                                <span>配送方式：</span>
                                <ul>
                                    <li>
                                        <div class="con express">天天快递</div>
                                        <div class="con delivery">配送时间：预计8月10日（周三）09:00-15:00送达</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sendGoods">
                                <span>商品清单：</span>
                                <ul class="yui3-g" th:each="item,index:${items}">
                                    <input hidden name="skuId" th:value="${item.skuId}"/>
                                    <li class="yui3-u-1-6">
                                        <span><img style="max-height: 80px;" th:src="${item.image}"/></span>
                                    </li>
                                    <li class="yui3-u-7-12">
                                        <div class="desc" th:text="${item.name}"></div>
                                        <div class="seven">7天无理由退货</div>
                                    </li>
                                    <li class="yui3-u-1-12">
                                        <div class="price">￥<em th:text="${item.price}"></em></div>
                                    </li>
                                    <li class="yui3-u-1-12">
                                        <div class="num">X<em th:text="${item.num}"></em></div>
                                    </li>
                                    <li class="yui3-u-1-12">
                                        <div class="exit">有货</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="buyMessage">
                                <span>买家留言：</span>
                                <textarea class="remarks-cont" placeholder="建议留言前先与商家沟通确认"></textarea>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="hr"></div>
            </div>
            <div class="linkInfo">
                <div class="step-tit">
                    <h5>发票信息</h5>
                </div>
                <div class="step-cont">
                    <span>普通发票（电子）</span>
                    <span>个人</span>
                    <span>明细</span>
                </div>
            </div>
            <div class="cardInfo">
                <div class="step-tit">
                    <h5>使用优惠/抵用</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="order-summary">
        <div class="static fr">
            <div class="list">
                <span><i class="number" th:text="${totalNum}"></i>件商品，总商品金额</span>
                <em class="allprice" th:text="'¥' + ${totalPrice}"></em>
            </div>
            <div class="list">
                <span>返现：</span>
                <em class="money">0.00</em>
            </div>
            <div class="list">
                <span>运费：</span>
                <em class="transport">0.00</em>
            </div>
        </div>
    </div>
    <div class="clearfix trade">
        <div class="fc-price">应付金额:　<span class="price" th:text="'¥' + ${totalPrice}"></span></div>
        <div class="fc-receiverInfo" th:unless="${address} == null">
            寄送至:
            <span id="receive-address" th:text="${address.address}"></span>
            收货人：<span id="receive-name" th:text="${address.contact}"></span>
            <span id="receive-phone" th:text="${address.getPhone()}"></span>
        </div>
    </div>
    <div class="submit">
        <a class="sui-btn btn-danger btn-xlarge" href="javascript:void(0);" id="submitOrder">提交订单</a>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>

<script src="/static/js/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/axios.min.js" type="text/javascript"></script>

<script>
    $(function () {
        $(".address").hover(function () {
            $(this).addClass("address-hover");
        }, function () {
            $(this).removeClass("address-hover");
        });

        $(".choose-address .name").click(function () {
            $(this).addClass("selected");
            $(this).parent().siblings().children('.name').removeClass("selected");
            var place = $(this).siblings('.address').children('.place').text();
            var phone = $(this).siblings('.address').children('.phone').text();
            $("#receive-name").text($(this).text());
            $("#receive-address").text(place);
            $("#receive-phone").text(phone)
        });

        $(".payType li").click(function () {
            $(this).toggleClass("selected").siblings().removeClass("selected");
        });

        $("#submitOrder").click(function () {
            const order = {};
            order.preMoney = 0;
            order.postFee = 0;
            order.payType = 1;
            order.shippingName = "京东快递";
            order.shippingCode = "JD1234567890";
            order.buyerMessage = "确保商品质量";
            order.receiverContact = $("#receive-name").text();
            order.receiverMobile = $("#receive-phone").text();
            order.receiverAddress = $("#receive-address").text();
            order.sourceType = 1;
            var list = [];
            $("input[name='skuId']").each(function (index, item) {
                list.push($(item).val());
            });
            order.skuList = list;
            axios.post("/api/worder/create", order).then(function (response) {
                if (response.data.code === 0) {
                    const orderId = '' + response.data.data.id;
                    location.href = "/api/wpay/ready?orderId=" + orderId;
                } else {
                    alert('订单创建失败，' + response.data.message);
                }
            });
        });
    })
</script>

</body>

</html>