<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>支付页-成功</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-paysuccess.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="cart py-container">
    <!--主内容-->
    <div class="paysuccess">
        <div class="success">
            <h3><img height="48" src="/static/img/_/right.png" width="48">　恭喜您，支付成功啦！</h3>
            <div class="paydetail">
                <p>支付方式：微信支付</p>
                <p th:text="'支付金额：￥'+${payMoney}"></p>
                <p class="button">
                    <a class="sui-btn btn-danger btn-xlarge" href="myOrder.html">查看订单</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="sui-btn btn-xlarge btn-goshop" th:href="@{/api/search/list}">继续购物</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>
</body>

</html>