<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>产品列表页</title>
    <link href="/static/img/favicon.ico" rel="icon">

    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-list.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<!-- 商品分类导航 -->
<div th:replace="all::typeNav"></div>

<!--list-content-->
<div class="main">
    <div class="py-container">
        <!--bread-->
        <div class="bread">
            <ul class="fl sui-breadcrumb">
                <li>
                    <a href="#">全部结果</a>
                </li>
            </ul>
            <ul class="fl sui-tag">
                <li class="with-x" th:if="${#maps.containsKey(request,'category')}">
                    商品分类:
                    <span th:text="${request.category}"></span>
                    <a th:href="@{${#strings.replace(url,'category='+request.category,'')}}">×</a>
                </li>
                <li class="with-x" th:if="${#maps.containsKey(request,'brand')}">
                    品牌:
                    <span th:text="${request.brand}"></span>
                    <a th:href="@{${#strings.replace(url,'brand='+request.brand,'')}}">×</a>
                </li>
                <li class="with-x" th:if="${#maps.containsKey(request,'price')}">
                    价格:
                    <span th:text="${request.price}"></span>
                    <a th:href="@{${#strings.replace(url,'price='+request.price,'')}}">×</a>
                </li>
                <!--spec_手机屏幕尺寸:5.5寸  -->
                <li class="with-x" th:each="spec,specStat:${request}" th:if="${#strings.startsWith(spec.key,'spec_')}">
                    <span th:text="${#strings.substring(spec.key,5)}"></span>
                    :
                    <span th:text="${spec.value}"></span>
                    <a th:href="@{${#strings.replace(url,spec.key+'='+spec.value,'')}}">×</a>
                </li>
            </ul>
            <form class="fl sui-form form-dark">
                <div class="input-control control-right">
                    <input type="text"/>
                    <i class="sui-icon icon-touch-magnifier"></i>
                </div>
            </form>
        </div>
        <!--selector-->
        <div class="clearfix selector">
            <div class="type-wrap" th:unless="${#maps.containsKey(request, 'category')}">
                <div class="fl key">分类</div>
                <div class="fl value">
                        <span th:each="category,categoryStat:${result.data.categoryList}">
                            <a th:href="@{${url}(category=${category})}" th:text="${category}"></a>
                            <em th:unless="${categoryStat.last}">、</em>
                        </span>
                </div>
                <div class="fl ext"></div>
            </div>
            <div class="type-wrap logo" th:unless="${#maps.containsKey(request, 'brand')}">
                <div class="fl key brand">品牌</div>
                <div class="value logos">
                    <ul class="logo-list">
                        <li th:each="brand:${result.data.brandList}">
                            <a th:href="@{${url}(brand=${brand})}" th:text="${brand}"></a>
                        </li>
                    </ul>
                </div>
                <div class="ext">
                    <a class="sui-btn" href="javascript:void(0);">多选</a>
                    <a href="javascript:void(0);">更多</a>
                </div>
            </div>
            <div class="type-wrap" th:each="spec:${result.data.specList}" th:unless="${#maps.containsKey(request, 'spec_' + spec.key)}">
                <div class="fl key" th:text="${spec.key}"></div>
                <div class="fl value">
                    <ul class="type-list">
                        <li th:each="op:${spec.value}">
                            <a th:href="${#strings.concat(url, '?spec_', spec.key, '=', op)}" th:text="${op}"></a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>
            <div class="type-wrap" th:unless="${#maps.containsKey(request, 'price')}">
                <div class="fl key">价格</div>
                <div class="fl value">
                    <ul class="type-list">
                        <li>
                            <a th:href="@{${url}(price='0-500')}">0-500元</a>
                        </li>
                        <li>
                            <a th:href="@{${url}(price='500-1000')}">500-1000元</a>
                        </li>
                        <li>
                            <a th:href="@{${url}(price='1000-1500')}">1000-1500元</a>
                        </li>
                        <li>
                            <a th:href="@{${url}(price='1500-2000')}">1500-2000元</a>
                        </li>
                        <li>
                            <a th:href="@{${url}(price='2000-3000')}">2000-3000元 </a>
                        </li>
                        <li>
                            <a th:href="@{${url}(price='3000元以上')}">3000元以上</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext">
                </div>
            </div>
            <div class="type-wrap">
                <div class="fl key">更多筛选项</div>
                <div class="fl value">
                    <ul class="type-list">
                        <li>
                            <a>特点</a>
                        </li>
                        <li>
                            <a>系统</a>
                        </li>
                        <li>
                            <a>手机内存 </a>
                        </li>
                        <li>
                            <a>单卡双卡</a>
                        </li>
                        <li>
                            <a>其他</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext">
                </div>
            </div>
        </div>
        <!--details-->
        <div class="details">
            <div class="sui-navbar">
                <div class="navbar-inner filter">
                    <ul class="sui-nav">
                        <li class="active">
                            <a href="#">综合</a>
                        </li>
                        <li>
                            <a href="#">销量</a>
                        </li>
                        <li>
                            <a href="#">新品</a>
                        </li>
                        <li>
                            <a href="#">评价</a>
                        </li>
                        <li>
                            <a th:href="@{${sortUrl}(sortField='price', sortRule='ASC')}">价格↑</a>
                        </li>
                        <li>
                            <a th:href="@{${sortUrl}(sortField='price', sortRule='DESC')}">价格↓</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-5" th:each="sku,skuStat:${result.data.rows}">
                        <div class="list-wrap">
                            <div class="p-img">
                                <a href="item.html" target="_blank"><img style="max-width:240px;max-height: 240px" th:src="${sku.image}"/></a>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i th:text="${sku.price}"></i>
                                </strong>
                            </div>
                            <div class="attr">
                                <!--th:utext会识别内容中的特定标签-->
                                <a href="item.html" target="_blank" th:title="${sku.spec}" th:utext="${#strings.abbreviate(sku.name, 45)}"></a>
                            </div>
                            <div class="commit">
                                <i class="command">已有<span>2000</span>人评价</i>
                            </div>
                            <div class="operate">
                                <a class="sui-btn btn-bordered btn-danger" target="_blank" th:onclick="'javascipt:add(\'' + ${sku.id} + '\', 1)'">加入购物车</a>
                                <a class="sui-btn btn-bordered" href="javascript:void(0);">收藏</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fr page">
                <div class="sui-pagination pagination-large">
                    <ul>
                        <li th:class="(${pageInfo.currentPage} == 1) ? 'prev disabled' : 'prev'">
                            <a th:href="@{${url}(pageNo=${pageInfo.upper})}">«上一页</a>
                        </li>
                        <li th:class="(${pageInfo.currentPage} == ${i}) ? 'active' : ''" th:each="i:${#numbers.sequence(pageInfo.lPage, pageInfo.rPage)}">
                            <a th:href="@{${url}(pageNo=${i})}" th:text="${i}"></a>
                        </li>
                        <li class="dotted"><span>...</span></li>
                        <li class="next" th:class="(${pageInfo.currentPage} == ${pageInfo.last}) ? 'next disabled' : 'next'">
                            <a th:href="@{${url}(pageNo=${pageInfo.next})}">下一页»</a>
                        </li>
                    </ul>
                    <!-- get提交方式会忽略url后面的参数-->
                    <form method="get" th:action="@{${url}}">
                        <div>
                            <span th:text="'共'+${pageInfo.last}+'页'">&nbsp</span>
                            <span>
                                    到第<input class="page-num" name="pageNo" type="text">页
                                    <button class="page-confirm" type="submit">确定</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--hotsale-->
        <div class="clearfix hot-sale">
            <h4 class="title">热卖商品</h4>
            <div class="hot-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="/static/img/like_01.png"/>
                            </div>
                            <div class="attr">
                                <em>Apple苹果iPhone 6s (A1699)</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="/static/img/like_03.png"/>
                            </div>
                            <div class="attr">
                                <em>金属A面，360°翻转，APP下单省300！</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="/static/img/like_04.png"/>
                            </div>
                            <div class="attr">
                                <em>256SSD商务大咖，完爆职场，APP下单立减200</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4068.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有20人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="/static/img/like_02.png"/>
                            </div>
                            <div class="attr">
                                <em>Apple苹果iPhone 6s (A1699)</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>

<!--侧栏面板-->
<div th:replace="all::toolbar"></div>

<script src="/static/js/all.js" type="text/javascript"></script>
<script src="/static/js/widget/cartPanelView.js" type="text/javascript"></script>
<script src="/static/js/axios.min.js" type="text/javascript"></script>

<script>
    function add(skuId, num) {
        axios.post("/api/wcart/add?skuId=" + skuId + "&num=" + num).then(function (response) {
            if (response.data.code === 0) {
                window.location.href = "/api/wcart/success?skuId=" + skuId + "&num=" + num;
            } else {
                alert("物品添加到购物车失败，" + response.data.message);
            }
        });
    }
</script>
</body>

</html>