<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>商品已成功加入购物车</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-success-cart.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="success-cart">
    <div class="py-container ">
        <h3><i class="sui-icon icon-pc-right"></i>商品已成功加入购物车！</h3>
        <div class="goods">
            <div class="left-good">
                <div class="left-pic"><img th:src="${sku.image}"></div>
                <div class="right-info">
                    <p class="title" th:text="${sku.name}"></p>
                    <p class="attr" th:text="${sku.spec}">颜色：WFZ5099IH/5L钛金釜内胆 数量：1</p>
                    <p class="attr" th:text="'数量：' + ${num}"></p>
                </div>
            </div>
            <div class="right-gocart">
                <a class="sui-btn btn-xlarge" href="#">查看商品详情</a>
                <a class="sui-btn btn-xlarge btn-danger " target="_blank" th:href="@{/api/wcart/list}">去购物车结算 > </a>
            </div>
        </div>
    </div>
</div>

<div class="other-item py-container ">
    <h4>购买该商品的朋友还购买了</h4>
    <div class="banner-goods">
        <div class="goods-list">
            <div class="sui-carousel slide" data-interval="false" data-ride="carousel" id="myCarousel">
                <div class="carousel-inner">
                    <div class="active item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="/static/img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">摩托罗拉 Moto Mods 摩眼-哈苏摄影模块</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a class="sui-btn btn-bordered  " href="success-cart.html" target="_blank">加入购物车</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                    <li data-slide-to="1" data-target="#myCarousel"></li>
                    <li data-slide-to="2" data-target="#myCarousel"></li>
                </ol>
            </div>
        </div>
    </div>

</div>

<!--页面底部-->
<div th:replace="all::footer"></div>
</body>

</html>